:root {
  --color-primary-1: #23395b;
  --color-primary-2: #374b6a;
  --color-primary-3: #495b78;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 2rem rgba(0, 0, 0, 0.1);

  --card-box-shadow: 0px 0px 2rem 0.3rem rgba(0, 0, 0, 0.3);

  --line: 1px solid var(--color-grey-light-2);

  --color-text-light-default: #faf9f9;
  --color-text-light-onHover: #999;

  --color-text-dark-default: #333;
  --color-text-dark-onHover: #faf9f9;

  --color-white: #fff;
  --color-black: #000;

  --color-btn-default: #495b78;

  // FONT
  --default-font-size: 3.6rem;

  --default-border-radius: 15px;
}
