.link {
  margin: 1rem;
  cursor: pointer;

  //enable "transform" in anchor tag
  display: inline-block;

  &--underline {
    position: relative;
    color: var(--color-text-dark-default);

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      opacity: 0%;
      left: 0;
      z-index: 3;
      height: 3px;
      width: 10%;
      background-color: currentColor;
      transition: all 0.5s;
    }

    &:hover::before {
      bottom: -1px;
      width: 100%;
      opacity: 100%;
    }
  }

  &--rounded {
    border-radius: var(--default-border-radius);
    background: var(--color-btn-default);
    color: var(--color-text-light-default);
    transition: all 0.2s;
    padding: 1rem 2rem;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 1rem 2rem rgba(black, 0.4);

      &::after {
        transform: scaleX(1.2) scaleY(1.2);
        opacity: 0;
      }
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 1rem 1rem rgba(black, 0.4);
    }
  }
}
