.header {
  &__header-img-container {
    width: 5rem;
    height: 5rem;
    // background-color: red;
    border-radius: 50%;
    border: 3px black solid;
    margin-right: 0.5rem;
  }

  &__header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nav-links {
  display: inline-block;
  height: 40px;
  background-color: white;
  color: grey;
}

.nav-links:hover {
  background-color: grey;
  color: white;
}
